/* jssor slider loading skin spin css */
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.jssorb052 .i {
  position: absolute;
  cursor: pointer;
}
.jssorb052 .i .b {
  fill: #000;
  fill-opacity: 0.3;
}
.jssorb052 .i:hover .b {
  fill-opacity: .7;
}
.jssorb052 .iav .b {
  fill-opacity: 1;
}
.jssorb052 .i.idn {
  opacity: .3;
}

.jssora053 {
  display: block;
  position: absolute;
  cursor: pointer;
}
.jssora053 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 640;
  stroke-miterlimit: 10;
}
.jssora053:hover {
  opacity: .8;
}
.jssora053.jssora053dn {
  opacity: .5;
}
.jssora053.jssora053ds {
  opacity: .3;
  pointer-events: none;
}

/* jssor slider loading skin spin css */
.jssora106 {
  display: block;
  position: absolute;
  cursor: pointer;
}
.jssora106 .c {
  fill: #fff;
  opacity: .3;
}
.jssora106 .a {
  fill: none;
  stroke: #000;
  stroke-width: 350;
  stroke-miterlimit: 10;
}
.jssora106:hover .c {
  opacity: .5;
}
.jssora106:hover .a {
  opacity: .8;
}
.jssora106.jssora106dn .c {
  opacity: .2;
}
.jssora106.jssora106dn .a {
  opacity: 1;
}
.jssora106.jssora106ds {
  opacity: .3;
  pointer-events: none;
}

.jssort101 .p {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background: #000;
}
.jssort101 .p .cv {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  box-sizing: border-box;
  z-index: 1;
}
.jssort101 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 400;
  stroke-miterlimit: 10;
  visibility: hidden;
}
.jssort101 .p:hover .cv,
.jssort101 .p.pdn .cv {
  border: none;
  border-color: transparent;
}
.jssort101 .p:hover {
  padding: 2px;
}
.jssort101 .p:hover .cv {
  background-color: rgba(0,0,0,6);
  opacity: .35;
}
.jssort101 .p:hover.pdn {
  padding: 0;
}
.jssort101 .p:hover.pdn .cv {
  border: 2px solid #fff;
  background: none;
  opacity: .35;
}
.jssort101 .pav .cv {
  border-color: #fff;
  opacity: .35;
}
.jssort101 .pav .a,
.jssort101 .p:hover .a {
  visibility: visible;
}
.jssort101 .t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  opacity: .6;
}
.jssort101 .pav .t,
.jssort101 .p:hover .t {
  opacity: 1;
}

/*jssor slider bullet skin 032 css*/
.jssorb032 {
  position: absolute;
}
.jssorb032 .i {
  position: absolute;
  cursor: pointer;
}
.jssorb032 .i .b {
  fill: #fff;
  fill-opacity: 0.7;
  stroke: #000;
  stroke-width: 1200;
  stroke-miterlimit: 10;
  stroke-opacity: 0.25;
}
.jssorb032 .i:hover .b {
  fill: #000;
  fill-opacity: .6;
  stroke: #fff;
  stroke-opacity: .35;
}
.jssorb032 .iav .b {
  fill: #000;
  fill-opacity: 1;
  stroke: #fff;
  stroke-opacity: .35;
}
.jssorb032 .i.idn {
  opacity: .3;
}
/*jssor slider arrow skin 051 css*/
.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer;
}
.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10;
}
.jssora051:hover {
  opacity: .8;
}
.jssora051.jssora051dn {
  opacity: .5;
}
.jssora051.jssora051ds {
  opacity: .3;
  pointer-events: none;
}

.jssorb031 {
  position: absolute;
}
.jssorb031 .i {
  position: absolute;
  cursor: pointer;
}
.jssorb031 .i .b {
  fill: #000;
  fill-opacity: 0.5;
  stroke: #fff;
  stroke-width: 1200;
  stroke-miterlimit: 10;
  stroke-opacity: 0.3;
}
.jssorb031 .i:hover .b {
  fill: #fff;
  fill-opacity: .7;
  stroke: #000;
  stroke-opacity: .5;
}
.jssorb031 .iav .b {
  fill: #fff;
  stroke: #000;
  fill-opacity: 1;
}
.jssorb031 .i.idn {
  opacity: .3;
}

/* jssor slider thumbnail navigator skin 07 css */
.jssort07 {
  position: absolute;
  /* size of thumbnail navigator container */
  width: 800px;
  height: 100px;
}

.jssort07 .p {
  position: absolute;
  top: 0;
  left: 0;
  width: 99px;
  height: 66px;
}

.jssort07 .i {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99px;
  height: 66px;
  filter: alpha(opacity=80);
  opacity: .8;
}

.jssort07 .p:hover .i,
.jssort07 .pav .i {
  filter: alpha(opacity=100);
  opacity: 1;
}

.jssort07 .o {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 97px;
  height: 64px;
  border: 1px solid #000;
  box-sizing: content-box;
  transition: border-color .6s;
  -moz-transition: border-color .6s;
  -webkit-transition: border-color .6s;
  -o-transition: border-color .6s;
}

.jssort07 .pav .o {
  border-color: #0099ff;
}

.jssort07 .p:hover .o {
  border-color: #fff;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}

.jssort07 .p.pdn .o {
  border-color: #0099ff;
}

* html .jssort07 .o {
  /* ie quirks mode adjust */
  width /**/: 99px;
  height /**/: 66px;
}
.jssorb051 .i {
  position: absolute;
  cursor: pointer;
}
.jssorb051 .i .b {
  fill: #fff;
  fill-opacity: 0.5;
}
.jssorb051 .i:hover .b {
  fill-opacity: .7;
}
.jssorb051 .iav .b {
  fill-opacity: 1;
}
.jssorb051 .i.idn {
  opacity: .3;
}
.jssora093 {
  display: block;
  position: absolute;
  cursor: pointer;
}
.jssora093 .c {
  fill: none;
  stroke: #fff;
  stroke-width: 400;
  stroke-miterlimit: 10;
}
.jssora093 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 400;
  stroke-miterlimit: 10;
}
.jssora093:hover {
  opacity: .8;
}
.jssora093.jssora093dn {
  opacity: .6;
}
.jssora093.jssora093ds {
  opacity: .3;
  pointer-events: none;
}
.jssorb057 .i {
  position: absolute;
  cursor: pointer;
}
.jssorb057 .i .b {
  fill: none;
  stroke: #fff;
  stroke-width: 2000;
  stroke-miterlimit: 10;
  stroke-opacity: 0.4;
}
.jssorb057 .i:hover .b {
  stroke-opacity: .7;
}
.jssorb057 .iav .b {
  stroke-opacity: 1;
}
.jssorb057 .i.idn {
  opacity: .3;
}

.jssora073 {
  display: block;
  position: absolute;
  cursor: pointer;
}
.jssora073 .a {
  fill: #ddd;
  fill-opacity: .7;
  stroke: #000;
  stroke-width: 160;
  stroke-miterlimit: 10;
  stroke-opacity: .7;
}
.jssora073:hover {
  opacity: .8;
}
.jssora073.jssora073dn {
  opacity: .4;
}
.jssora073.jssora073ds {
  opacity: .3;
  pointer-events: none;
}
.jssora061 {
  display: block;
  position: absolute;
  cursor: pointer;
}
.jssora061 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-linecap: round;
}
.jssora061:hover {
  opacity: .8;
}
.jssora061.jssora061dn {
  opacity: .5;
}
.jssora061.jssora061ds {
  opacity: .3;
  pointer-events: none;
}
.slider_description {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  width: 75%;
  font-size: 15px;
}
.slider_name {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}
.slider_main {
  width: 100%;
}
